{% extends 'base.html' %}

{% load staticfiles %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock extra_css %}

{% block extra_main %}
    <div style="height: 588px;">
        <div id="register-form">
            <form method="post">
                {% csrf_token %}
                <p>用户名:</p><input type="text" name="username"><br>
                <p>密码:</p><input type="password" name="password1"><br>
                <p>确认密码:</p><input type="password" name="password2"><br>
                <input style="width: 277px;height: 37px;font-size: larger" type="submit" value="注     册"><br>
                <h4 style="color: crimson">{{ error }}</h4>
            </form>
        </div>
    </div>

{% endblock extra_main %}